<html>
   <body>
      <form action = "http://localhost:5000/search" method = "post">
         <p>Zip Code Query:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <form action = "http://localhost:5000/update" method = "post">
         <p>Zipcode to Update:</p>
         <p><input type = "text" name = "zip" /></p>
         <p>Population Update:</p>
         <p><input type = "text" name = "pop" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   </body>
</html>
